<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Step Three</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>
<img th:src="@{/img/rock.jpg}" width=50% height=50%/>
<h1>This is step three.</h1>
<h3>Step 3 - End with a call to action for yourself that lets the other person know your immediate priorities</h3>
<p>
    Your call to action is where you state what you’re focused on in the near term. For example:
</p>
<ol>
    <li>Career step you are working on – if you’re in finance, you might mention you’re studying for the CFA and looking forward to more complex analyses (if that’s your ideal career move)</li>
    <li>Area you are researching or idea you’re considering – if you’re a career changer and your background is very different from what you want to do, specifying your new target career as a research subject for you let’s the other person know you’re moving into something else</li>
    <li>Ideal project</li>
    <li>Ideal client</li>
    <li>Ideal role</li>
</ol>
<p>
    Having a call to action is critical so the other person knows exactly what your focus is, and if they want to help you, they know exactly how they can help. At the same time, make sure that the call to action is what you are doing yourself and not a question you pose to the other person, or worse, an outright request. Your introduction should never include a request – it’s too early and will seem presumptuous.
</p>
<h4><a th:href="@{/}">Back Home</a></h4>
<p>
    Content taken from <a href="https://www.forbes.com/sites/carolinecenizalevine/2020/04/27/how-to-create-a-networking-pitch-in-three-easy-steps/?sh=19f96ec4b803">here.</a>
</p>
<div th:replace="fragments/_footer :: footer"></div>
</body>
</html>